.textNew{
    width:85%;
    margin-left: 5%;
    height: 100px;
    border-radius: 20px;

}
.AddPost{
    width:15%;
    height: 50px;
    border-radius: 20px;
    background-color: #6667AB;
    margin-top: 20px;
    margin-left: 75%;
    margin-bottom: 2px;
}
.AddPost:active{
    background-color: #3a3b61;
}
.wrapper{
    width: 100%;
}
